/.env
/src/backend/openai_exploration.ipynb
data/experiments/cost_basis/data/accounts_sorted_by_unreal_gl_pct.csv
data/experiments/cost_basis/data/SL_filtered_by_valid_taxable_accounts_with_no_errors.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_3AA36901.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_3AA38004.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_3AA39402.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_3AA40209.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_3AA43580.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10001173.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10001420.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10001834.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10003210.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10003903.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10011920.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10014486.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10015140.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10015490.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10016017.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10017311.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10018698.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10022711.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10026222.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10028056.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10033350.csv
data/experiments/cost_basis/data/unrealized_cost_basis/acc_10053571 .csv
data/experiments/cost_basis/tax_optimizer.ipynb
data/account_statements/Schwab statement.pdf
data/reformat_state_income_tax_rates_file.ipynb
src/backend/.ipynb_checkpoints/temp_testing-checkpoint.ipynb
data/testing_jupyter_notebook.ipynb
__pycache__
/.idea
*.DS_Store
src/etl/process_times.csv
src/etl/equity_data_fetcher.log
equity_data_fetcher.log

data/temp_debug/monte_carlo_simulation_0859b04a-2f97-4d0b-98ab-78f2310d3e8c_20240905_134929.json
data/temp_debug/monte_carlo_simulation_284030d6-6f36-42c9-9b8f-c09e40be4e97_20240905_154115.json
data/temp_debug/monte_carlo_simulation_20240903_190357.json
